.gradient-bg {
  /* -webkit-background:linear-gradient(180deg, #120024 0%, #2b032f 50%, #4d1b48 100%);
  background: linear-gradient(0deg, #120024 0%, #2b032f 50%, #4d1b48 100%);*/
  background-size: cover; 
  background: url("5418621_2813203.jpg");
}
.btn-light-oblique {
background-color:#e40470 !important;
color:white !important;
 }

.btn-light-oblique:hover {
  background-color: rgba(255, 255, 255, 0.32);
}

.bg-containers {
  color: white;
  background: rgba(0, 0, 0, 0.24);
}
.song-img {
  width: 90%; /* Adjust the width of the image as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add some space between image and text */
}

.song-img:hover {
  opacity: 0.8;
}
.songRecs {
  display: flex;
  flex-direction: column; /* Arrange children in a column */
}

.song-info {
  margin: 0; /* Remove default margin */
}
