
/* .search-container{
  background-color: rgb(179, 215, 215);
  margin: auto;
  width: 90%;

}

form {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  button[type="submit"] {
    background-color: rgb(237 205 205 / 0%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20;
    padding-top: 7px;
    margin: 5px;
    cursor: pointer;
  }
   */